.work-sans-font{font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  
}

/*shard styles*/

/*header styles*/

/*navbar related style*/
.navbar{display: flex;}
